.Body{
    background-color: bisque;
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.titulo2{
    border: 1px solid black;
}

.cont{
    display: flex;
    margin: 5px;
    gap: 5px;
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form{
    display: flex;
    margin: 5px;
    gap: 5px;

    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.calculadeira{
    display: flex;
    margin: 5px;
    gap: 5px;

    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}